@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #d1d3d3;
}

h1 {
  color: #1f3226;
  background-color: #adcba2;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

h4 {
  color: #2b352f;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}

.actividad {
  color: #0a0a0a;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.contenido {
  color: #1c4d2e;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.saludo {
  color: #1c4d2e;
  margin: 30px 20px;
}

p {
  color: #151f16;
  font-size: 1.3em;
  margin: 20px;
  text-align: center;
}

.p-container {
  color: rgba(63, 8, 97, 0.986);
  background-color: #b3b9f5;
  font-family: "Merienda", cursive;
  font-size: 1.1em;
  margin: 40px;
  text-align: center;
}

.boton {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
}

.boton:hover {
  background-color: #bdea79;
}

.btn {
  display: inline-block;
  background-color: #adcba2;
  color: rgb(5, 12, 6);
  padding: 10px 15px;
  margin: 30px;
  border-radius: 8px;
  text-decoration: none;
  font-family: sans-serif;
}

.btn-reservar {
  display: inline-block;
  background-color: #b3d1cf;
  color: rgb(5, 12, 6);
  padding: 8px;
  margin: 8px;
  border: none;
  border-radius: 5px;
}

.btn-reservar:active {
  transform: scale(1.1);
}

.btn-borrar {
  display: inline-block;
  background-color: #bd0505;
  color: #ffffff;
  border-radius: 3px;
  padding: 6px;
  margin: 6px;
}

.btn-borrar:active {
  transform: scale(1.3);
}

.link {
  text-decoration: none;
  color: rgb(5, 12, 6);
}

.datos {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  background: #adb2b1;
  padding: 20px;
  border-radius: 8px;
}

.contenedor {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  margin: 16px;
  gap: 40px;
  flex-wrap: wrap;
}

.tarjeta {
  border-radius: 10px;
  border: 1px solid black;
  padding: 16px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}