@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #d1d3d3;
}

h1 {
  color: #1f3226;
  text-align: center;
  text-transform: uppercase;
}

.contenido {
  color: #1c4d2e;
  text-align: center;
  margin-top: 30px;
}

.saludo {
  color: #1c4d2e;
  margin-top: 30px;
}

.boton {
  display: inline-block;
  text-decoration: none;
  padding: 4px;
  color: black;
  border-radius: 5px;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  margin: 30px;
  gap: 40px;
  flex-wrap: wrap;
}

.mensaje {
  color: #ef1616;
  font-size: 1.1em;
  margin: 20px;
}